<h1 style="color: red;font-weight: bold;">Mi primer proyecto ángular</h1>
<h1 class="azul">Clase Azul</h1>
<p>Hola me llamo Clara!!!</p>
<img [src]="imgUrl" alt="" style="width: 15%;height: auto;">
<h2>{{title}}</h2>
<h3>Nombre: {{nombre}}</h3>
<p>{{ getEdad() >= 18 ? "Es mayor de edad" : "Es menor de edad" }}</p>
<img src={{imgUrl1}} alt=""><br><br>
<img [src]="imgUrl2" alt="">
<p [class]="naranja">{{name}}</p>
CheckBox: <input type="checkbox" name="" id="" [checked]="marcado"><br>
Nombre: <input type="text" name="" id="" [disabled]="deshabilitado" [value]="name">
<div>Asignatura: {{asignatura.nombre}}</div>
<div>Código: {{asignatura.codigo}}</div><br>
<button (click)="getCompanero($event)">ENVIAR</button>
<p>Compañero: <input type="text" [value]="companero"></p>
<p><label for="tex">Texto
    <input type="text" name="tex" id="tex" (keyup)="getLabel($event)">
  </label>
</p>
<p>Texto concatenado: {{key}}</p>
CheckBox cambio: <input type="checkbox" (click)="mostrarMarcado($event)">
<p>{{frase}}</p>
Con One way y event: <input type="text" (keyup)="mostrarOne($event)">
Con two Ways: <input type="text" [(ngModel)]="textoOne"><br>
<div>
  <p>{{textoOne}}</p>
</div>
<p>Cambios M y m</p>
<input type="text" [(ngModel)]="texto1" (keyup)="cambiarM($event)" /> <br />
<input type="text" [(ngModel)]="texto2" (keyup)="cambiarm($event)" /> <br />
<table>
  <tr>
    <td><input type="checkbox" [(ngModel)]="conFondo" /></td>
    <td>
      <div [class.fondo]="conFondo">Hola</div>
    </td>
  <tr>
    <td colspan="2">
      <a [href]="atribHref" target="_blank">
        Pulsa en enlace</a>
    </td>
  </tr>
  <tr>
    <td> <button (click)="cambiarValor()">
        {{ mostrarCapa ? "Mostrar" : "Ocultar" }}
      </button>
    </td>
    <td>
      <div [hidden]="mostrarCapa">Visible</div>

    </td>
  </tr>
  <tr>
    <td>
      <button (click)="habilitaBoton = !habilitaBoton">
        {{ habilitaBoton ? "Habilitar" : "Deshabilitar" }}
      </button>
    </td>
    <td>
      <button [disabled]="habilitaBoton">Hola que tal</button>
    </td>

  </tr>
</table>
<br>
<hr>
<br>
<app-user-profile></app-user-profile>
<hr>
<br>
<app-alumno></app-alumno>
<hr>
<br>
<app-datos-libro></app-datos-libro>
