<div class="container-fluid w-50 mx-auto text-center">
  <h1>{{ title }}</h1>
  <button (click)="mostrarPersonajes()" class="btn btn-warning">
    MOSTRAR
  </button>
</div>
<div *ngIf="mostrar">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>{{ title }}</h1>
      </div>
    </div>
    <div class="row d-flex justify-content-center w-75 mx-auto text-center">
      <ng-container *ngFor="let personaje of (personajes | async)?.results">
        <div class="col-md-4 mb-1">
          <div class="card bg-light" style="width: 18rem;">
            <img src="{{personaje.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-warning">{{ personaje.name }}</h5>
              <p class="card-text"><strong>Id:</strong> {{ personaje.id }}</p>
              <p class="card-text"><strong>Estado:</strong> {{ personaje.status }}</p>
              <p class="card-text"><strong>Personajes:</strong> {{ personaje.species}}</p>
              <p class="card-text"><strong>NºEpisodios:</strong> {{ personaje.episode.length}}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
