<h1 style="color: red;">Alumno Component</h1>
<p>Nombre: {{nombre}}</p>
<p>Apellidos: {{apellido}}</p>
<p>Edad: {{edad}}</p>
<p>DNI: {{dni}}</p>
<p>Edadx5= {{edad*5}}</p>
<p>{{ edad >= 18 ? "Es mayor de edad" : "Es menor de edad" }}</p>
<p>Introducir DNI: <input type=”text” #nuevoDni (keyup) ='(0)' [disabled]="deshabilitado"/></p>
<p>DNI: {{nuevoDni.value}}</p>
<p>CheckBox edad: <input type="checkbox" [checked]="edad<18"></p>
<p>{{mensaje}} <input type="checkbox" [checked]="checkBoxMarcado" (click)="mostrarMensaje()"></p>
<p>Hombre: <input type="radio" value="H" name="sexo" (click)="marcarSexo($event)"></p>
<p>Mujer: <input type="radio" value="M" name="sexo" (click)="marcarSexo($event)"></p>
